*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.header{
    background-color: burlywood;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: coral;
}
.btn-primary{
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
    padding: 20px 40px;
    height: 60px;
    border-radius: 5px;
    background-color: chocolate;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
      font-weight: 700px;
      font-size: 80px;
} 
.banner-sub-title{
       font-weight: 600;
       font-size: 45px;
       margin-bottom: 20px;
}
.banner-description{
   color: blue; 
   font-size: 20px;
   margin-bottom: 30px;
}
/* .header{ */
     /* background-color: brown; */
     /* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* } */
/* about section styles */
.about{
   margin-top: 130px;
   text-align: center;
   background-color: bisque;
   border-radius: 10px;
   padding: 130px 150px;
}
.section-title{
   font-weight: 700;
   font-size: 35px;
   margin-bottom: 30px;

}
.section-description{
     color: coral;
     font-size: 20px;
     margin-bottom: 30px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title{
    font-size: 20px;
    color: black;
}
 .info-description{
   font-size: 15px;
   font-weight: 700;
   color: blueviolet;
}